# Copy this file to .env and fill in the values

# The name of this agent as it will appear in Tableau Cloud
TABLEAU_CLIENT=

# The site name from your Tableau Cloud URL (do not include the full URI)
TABLEAU_SITE=

# The email associated with the PAT
TABLEAU_USER_EMAIL=

# Must match both the Tableau Cloud token name and the key in pat.json
TABLEAU_PAT_TOKEN_ID=
TABLEAU_PAT_TOKEN_FILE=

# Pool ID if you are using custom Bridge pools
TABLEAU_POOL_ID=